# SPDX-FileCopyrightText: 2025 RAprogramm
# SPDX-License-Identifier: MIT

name: Create Release

on:
  workflow_call:
    inputs:
      new_tag:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    if: inputs.new_tag == 'true'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate release notes
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: --verbose --latest --strip header
        env:
          OUTPUT: RELEASE_NOTES.md

      - uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ inputs.version }}
          body_path: RELEASE_NOTES.md
          files: artifacts/**/*
